body {
    background-color: #282c34;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: space-between;
}

.logo {
    margin-left: 10px;
}

nav button {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

main {
    width: 80%;
}

main .app {
    position: relative;
    width: 100%;
    /* padding: 5px; */
    height: 100vh;
    float: right;
    overflow: hidden;
    overflow: auto;
    border-left: 0.1px solid rgba(255, 255, 255, 0.233);
    margin: 0px auto;
    border-radius: 3px;
    background: #2a3647;
}

main .app::-webkit-scrollbar {
    background-color: black;
    width: 7px;
}

main .app::-webkit-scrollbar-thumb {
    background-color: rgb(41, 40, 41);
    width: 7px;
}

.input button img {
    width: 60px;
}

.input {
    position: sticky;
    top: 100%;
    background-color: #f6fff4;
    width: 100%;
}

.input button {
    border: none;
    background: none;
    border-radius: 0px;
}

.input #chat {
    width: 93%;
    margin: auto;
    border-radius: 0px;
    position: relative;
    cursor: text;
    border-radius: 200px;
    text-align: left;
}

.pad {
    display: flex;
    flex-direction: row-reverse;
}

.left {
    width: 23.4%;
}

.btn-user {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    background: none;
    border-bottom: 1px solid #586b88;
    background: #2a3647;
    padding: 15px;
    position: sticky;
    top: 0;
}

.usuert {
    display: flex;
    align-items: center;
}

.name {
    position: relative;
    top: 10px;
    color: white;
}

#btn__google img {
    width: 20px;
}

.reinit {
    background: none;
    position: absolute;
}

#image-user,
.img-chat-user {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: none;
}

.name {
    position: relative;
    left: 3px;
}

.content-enviar {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nombre-de-friend {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    background-color: #586b88;
    padding: 15px;
    height: 71px;
}

.chat-global {
    margin-left: 20px;
    margin-top: 10px;
    font-size: 18px;
}

.nombre-de-friend {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.nombre-de-friend h1 {
    color: white;
}

.ambos {
    display: flex;
    width: 95%;
    max-width: 1000;
    align-items: center;
}

.ambos p {
    color: black;
    border-radius: 3px;
    padding: 3px;
    font-size: 17px;
    background-color: rgb(255, 255, 255);
    position: relative;
    top: 10px;
    left: 5px;
}

.ambos .p-f {
    padding: 8px;
    background-color: #3570f0;
    color: white;
}

.alert-div {
    display: flex;
    flex-direction: column-reverse;
}

.alert-div p {
    color: rgb(170, 170, 170);
    font-size: 23px;
    margin-top: 10px;
}

.alert-div .alert-image {
    width: 200px;
    border-radius: 10rem;
    margin: auto;
}

.img-chat-user {
    cursor: pointer;
    width: 45px;
    height: 45px;
}

.ambos-left p {
    font-size: 17px;
    padding: 8px;
}


/* ======================> contenedor main  <====================== */

@media screen and (max-width:1134px) {
    .alert-div .alert-gmail {
        color: rgb(170, 170, 170);
        font-size: 16px;
    }
    .alert-div .alert-name {
        font-size: 16px;
    }
    .input button img {
        width: 50px;
    }
    .input #chat {
        width: 100%;
    }
    .pad {
        flex-direction: column-reverse;
    }
    main {
        width: 100%;
    }
    .left {
        width: 100%;
    }
    .btn-user {
        position: fixed;
        background: #212e41;
        border-bottom: 1px solid rgba(128, 128, 128, 0.267);
    }
    .pad h1 {
        display: none;
    }
}

@media screen and (max-width:333px) {
    .name {
        display: none;
    }
}